.heading {
  max-width: 800px;
  font-size: 64px;
  line-height: 64px;
  font-weight: 800;
  color: var(--primary);
  margin-bottom: 30px;

  @media (max-width: 900px) {
    font-size: 32px;
    margin-bottom: 12px;
  }
}

.description {
  font-size: 20px;
  line-height: 40px;
  font-weight: 500;
  color: var(--font-color);
  margin-bottom: 1.45rem;

  @media (max-width: 900px) {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 0;
  }
}

.lg {
  font-size: 24px;
  line-height: 40px;
  font-weight: 500;
  color: var(--dark);
}