.section {
  width: 100%;
  padding: 80px 0;
  background-color: var(--background);

  .countUp {
    display: block;
    margin-bottom: 4px;
    font-size: 120px;
    line-height: 96px;
    font-weight: 700;
    color: var(--primary);
  }

  .title {
    font-size: 40px;
    line-height: 72px;
    font-weight: 800;
    color: var(--font-color);
  }

  @media (max-width: 900px) {
    padding: 32px 0;

    .content {
      align-items: start;
      justify-content: flex-start;
      flex-direction: column-reverse;
    }

    .teamImage {
      max-width: 300px;
      margin: 32px;
      align-self: center;
    }

    .countUp {
      margin-bottom: 16px;
      font-size: 80px;
      line-height: 70px !important;
    }

    .title {
      font-size: 24px;
      line-height: 72px;
      font-weight: 800;
      margin-bottom: 0;
    }
  }
}