@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  --primary: #1b5bf7;
  --primary-disabled: #84a0e7;
  --secondary: #464359;
  --dark: #18191f;
  --opacity: rgba(255, 60, 0, 0.5686274509803921);
  --background: #f4f7ff;
  --font-color: #464359;
  --bg-secondary: #e0e8ff;
  --devops: #a8bfff;
  --mobile: #dbe5ff;
  --infrastructure: #d1dde8;
  --frontend: #c6d6ff;
  --design: #ced6ee;
  --pm: #99b7df;
  --testing: #e1e9fe;
  --backend: #bddaed;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  overflow-x: hidden;
  width: 100vw;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.w-48p {
  width: 40%;
  max-width: 500px;
}
