.footer {
  width: 100%;
  padding-top: 48px;
  text-align: center;
  background-color: var(--background);

  .navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
    margin-bottom: 32px;

    .navItem {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .navItemLink {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        font-size: 18px;
        line-height: 32px;
        color: var(--primary);
      }
    }
  }

  .copyright {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 25px 0;
    border-top: 1px solid rgba(27, 91, 247, 0.2);
    font-size: 14px;
    line-height: 24px;
    color: var(--primary);

    .socials {
      display: flex;
      align-items: center;

      .socialLink {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 16px;
        padding: 7px;
        border-radius: 50%;
        background-color: rgba(27, 91, 247, 0.1);
        text-decoration: none;

        .socialIcon {
          fill: var(--primary);
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  @media (max-width: 900px) {
    .navigation {
      margin-top: 16px;
      justify-content: center;
      min-width: 50%;
      flex-direction: column;

      .navItem {
        margin: 20px 0;
      }
    }
  }
}