@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --primary: #1b5bf7;
  --primary-disabled: #84a0e7;
  --secondary: #464359;
  --dark: #18191f;
  --opacity: rgba(255, 60, 0, 0.5686274509803921);
  --background: #f4f7ff;
  --font-color: #464359;
  --bg-secondary: #e0e8ff;
  --devops: #a8bfff;
  --mobile: #dbe5ff;
  --infrastructure: #d1dde8;
  --frontend: #c6d6ff;
  --design: #ced6ee;
  --pm: #99b7df;
  --testing: #e1e9fe;
  --backend: #bddaed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  width: 100vw;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.w-48p {
  width: 40%;
  max-width: 500px;
}

.fadeToBottom {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  animation-name: fadeToBottom;
  animation-duration: 0.2s;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation-iteration-count: 1;
}

.fadeToTop {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  animation-name: fadeToTop;
  animation-duration: 0.2s;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation-iteration-count: 1;
}

.dy-1 {
  animation-delay: 0.1s;
}

.dy-2 {
  animation-delay: 0.1s;
}

.dy-3 {
  animation-delay: 0.1s;
}

@keyframes fadeToBottom {
  0% {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
  }

  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@keyframes fadeToTop {
  0% {
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
  }

  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}


@media (max-width: 900px) {
  .w-48p {
    width: 100%;
    max-width: 500px;
  }
}