.section {
  .project {
    background-image: url("../../../../public/images/hero.jpeg");
    background-repeat: no-repeat;
    background-position: 50%;
    padding: 80px 0;
    background-size: cover;

    .projectWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .projectImage {
        width: 48%
      }

      .projectContent {
        width: 48%;
      }

      .nameImage {
        display: block;
        margin-bottom: 30px;
      }

      .badge {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        padding: 4px 16px;
        border-radius: 100px;
        font-size: 14px;
        line-height: 28px;
        font-weight: 500;
        margin-bottom: 30px;
      }

      .subTitle {
        font-size: 1.38316rem;
        margin-bottom: 1.34rem;
      }

      .services {
        display: flex;
        flex-wrap: wrap;
        gap: 30px 15px;

        .card {
          min-width: 160px;
          padding: 16px;
          border-radius: 8px;
          background-color: var(--background);

          .cardTitle {
            display: block;
            font-size: 18px;
            line-height: 30px;
            font-weight: 500;
            color: #000;
            margin-top: 12px;
          }
        }
      }
    }

    .reverse {
      flex-direction: row-reverse;
    }
  }

  @media (max-width: 900px) {
    .project {
      padding: 42px 0;

      .projectWrapper {
        flex-direction: column;

        .projectContent {
          width: 100%
        }

        .projectImage {
          width: 100%
        }

        .nameImage {
          display: none;
        }

        .badge {
          display: none
        }

        .services {
          gap: 0;

          .card {
            min-width: 95px;
            margin-right: 8px;
            margin-bottom: 8px;
            padding: 8px;
            min-height: 100px;
            width: 30%;
            max-width: 32%;

            .cardImage {
              width: 42px;
              height: 42px;
              margin-bottom: 8px;
            }

            .cardTitle {
              font-size: 14px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}